body {
  background-color: #FF6347;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: #ffffff;
}

.bigText {
  font-size: 4em;
}

.button {
  color: #ffffff;
  border: 1px solid #ffffff;
  display: inline-block;
  padding-left: 1.25em;
  border-radius: 200px;
  font-size: 2em;
  padding-right: 0.25em;
  padding-bottom: 0.1em;
  -webkit-transition: background 0.75s linear;
  -moz-transition: background 0.75s linear;
  -ms-transition: background 0.75s linear;
  -o-transition: background 0.75s linear;
  transition: background 0.75s linear;
}

.buttonIconContainer:hover .button {
  background-color: #ffffff;
  color: #FF6347;
}

.buttonIconContainer:hover .icon {
  background-color: #FF6347;
  border: 3px solid #FF6347;
}

.buttonIconContainer:hover .linkedInIcon {
  background-color: #FF6347;
  border: 3px solid #FF6347;
}

.buttonIconContainer {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.contactLink {
  border: 1px dotted #ffffff;
  border-radius: 500px;
  margin-bottom: 0.5em;
}

.container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  float: left;
  margin-bottom: 2em;
}

.emailIcon {
  position: absolute;
  top: 0.5em;
  background-color: #FF6347;
  padding: 0.3em;
}

.emailLink {
  font-family: 'Dosis', sans-serif;
  border: 1px solid #ffffff;
  border-radius: 200px;
  font-size: 2em;
  display: inline-block;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #FF6347;
  color: #ffffff;
  padding-bottom: 0.2em;
  -webkit-transition: background 0.75s linear;
  -moz-transition: background 0.75s linear;
  -ms-transition: background 0.75s linear;
  -o-transition: background 0.75s linear;
  transition: background 0.75s linear;
}

.emailLink:hover {
  background-color: #ffffff;
  color: #FF6347;
}

.emailLink:hover .emailIcon {
  background-color: #FF6347;
}

.geo {
  width: 4em;
  margin-bottom: 1em;
}

.icon {
  width: 1.5em;
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 100%;
  top: 0.5em;
  left: 0.5em;
}

.input {
  border: none;
  border-radius: 5px;
  height: 2em;
  padding: 0.5em;
  font-size: 1em;
  color: #FF6347;
  outline: none;
  margin-bottom: 1em;
  width: 27em;
}

.label {
  margin-bottom: 0.2em;
  font-size: 1.5em;
  text-align: left;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.linkedInIcon {
  width: 1.5em;
  position: absolute;
  border: 3px solid #ffffff;
  top: 0.5em;
  left: 0.5em;
  border-radius: 100%;
}

.name {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.phone {
  width: 35em;
}

.quoteContainer {
  margin-top: 3.3em;
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 2.5em;
  border-radius: 30px;
  float: left;
  max-width: 28em;
}

.subtitle {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.textarea {
  border: none;
  resize: none;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1em;
  color: #FF6347;
  height: 5em;
  width: 27em;
  outline: none;
  margin-bottom: 1em;
}

.textContainer {
  top: 8.5em;
  position: absolute;
  right: 8em;
}

.tick {
  width: 3em;
  position: absolute;
  left: -4.5em;
  top: -0.8em;
}

.tickContainer {
  display: inline-block;
  position: relative;
}

.tickText {
  position: absolute;
  width: 6em;
  text-align: left;
  left: -1.5em;
}

.tickWrapper {
  margin-bottom: 3em;
}

.wrapper {
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: inline-block;
}

@media (max-width: 400px) {
  .container {
    display: block;
    float: none;
  }
  .phone {
    display: none;
  }
  .quoteContainer {
    float: none;
  }
  .textContainer {
    position: relative;
    right: auto;
    top: auto;
  }
}
